@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;700;800;900;1000&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Nunito:wght@300;400;600;700;900&family=Open+Sans&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;1,200;1,600;1,800&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --card-clr: hsl(0, 0%, 100%);
    --title-clr: hsl(218, 44%, 22%);
    --subtitle-clr: hsl(220, 15%, 55%);
    --card-shadow: hsl(212, 45%, 89%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 1px);
    background-color: var(--card-shadow);
    font-family: Outfit, sans-serif;
    margin: 1.3rem;
    font-size: 15px;
}

.qr__card {
    background-color: var(--card-clr);
    padding: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.qr__card img{
max-width: 100%;
border-radius: .650rem;
margin-bottom: 1.2rem;
}
.qr__card h1{
color: var(--title-clr);
margin-bottom: .5rem;
font-size: 23px;
}
.qr__card p{
color: var(--subtitle-clr);
margin-bottom: .75rem;
}
@media (min-width: 375px) {
    .qr__card{
        width: 375px;
    }
}
.attribution{
text-align: center;
}
.attribution a{
text-decoration: none;
}
.attribution > a:last-of-type{
    color: rgb(54,133,255);
}